@use "styles/vars" as *;

.main {
  display: grid;
  grid-template-columns: minmax(300px, 15%) 85%;
  grid-template-areas: "sidebar main";
  min-height: 100vh;
  max-height: 100vh;
}

.sidebar {
  display: grid;
  max-height: 100vh;
  grid-area: sidebar;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr;
  gap: 10px;

  width: 100%;
  max-width: 100%;

  background-color: $tetiary;
}

.container {
  grid-area: main;
  background-color: $primary;
  width: 100%;
  height: 100%;
}


// Phone
@media (max-width: 640px) {
  .main {
    grid-template-columns: 100%;
    grid-template-rows: min-content auto;
    grid-template-areas: "sidebar""main";

    &[data-showplayers="true"] {
      grid-template-rows: 100vh 0;
    }
  }


}