@use "styles/vars" as *;

main {
  display: grid;
  grid-template-columns: minmax(300px, 15%) 85%;
  grid-template-areas: "sidebar main";
  min-height: 100vh;
  max-height: 100vh;
}

.sidebar {
  display: grid;
  grid-area: sidebar;
  grid-template-columns: 100%;
  grid-template-rows: min-content 1fr;
  gap: 10px;

  width: 100%;
  max-width: 100%;

  background-color: $tetiary;

  &>.players {
    display: grid;
    flex-direction: column;
    align-items: center;

    height: 100%;
    max-height: 100%;
    grid-template-rows: repeat(auto-fit, 80px);

    padding-bottom: 10px;
    overflow-y: scroll;
  }

}

.menu {
  width: 100%;

  transition: height 500ms;
  height: 60px;

  &[data-state="open"] {
    height: 90px;
  }

  &>.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &>button {
      height: 60px;
      width: 60px;

      transform: scale(1);
      transition: transform 100ms ease-in-out;

      &:hover {
        color: $accent;
        cursor: pointer;
        transform: scale(1.3);
      }

      &:active {
        transform: scale(.8);
      }
    }
  }

  &>.addPlayer {
    width: 100%;
    max-width: 100%;

    opacity: 0;

    &[data-state="open"] {
      opacity: 1;
      transition: opacity 300ms 400ms ease-in-out;
    }

    &[data-state="closed"] {
      opacity: 0;
      transition: opacity 0s;
    }

    &>input {
      border: none;
      background-color: transparent;
      color: $text;
      font-size: 1.1rem;
      padding: 10px;
      margin: 0;
      width: 100%;
      height: 40px;
      text-align: center;

      border-bottom: $text 2px solid;

      &:focus {
        outline: none;
      }
    }
  }

}

.main {
  grid-area: main;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Phone
@media (max-width: 640px) {
  main {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 8fr;
    grid-template-areas: "sidebar""main";
  }

  .players {
    display: none !important;
  }
}