@use "styles/vars" as *;

.card {
  background-color: $tetiary;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 900px;
  height: 700px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & var {
    font-style: normal;
    font-weight: 700;
    color: $accent;
  }

  &:hover {
    cursor: pointer;
  }

  &>h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }
}