@use "styles/vars" as *;

.main {
    grid-area: main;
    background-color: $primary;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr minmax(100px, 3fr) 1fr minmax(100px, max-content);
    gap: 10px;
    grid-template-rows: 1fr 4fr 2fr;
    grid-template-areas: ". . . active"". card . active"". . . active";

    &>.turn {
        display: none;
        text-align: center;
    }
}

.mainCard {
    grid-area: card;
}

.activeCards {
    grid-area: active;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    gap: 10px;

    overflow-y: scroll;
}

.activeCard {
    width: 300px;
    height: 200px;
}

@media (max-width: 640px) {
    .main {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 4fr 3fr;
        grid-template-areas: "turn""card""active";

        padding: 10px;

        &>.turn {
            display: block;
        }
    }

    .activeCards {
        flex-direction: row;
        max-width: 100vw;

        overflow-x: scroll;
    }
}