@use "styles/vars" as *;

.main {
  background-color: $tetiary;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  text-align: center;

  border-radius: 10px;
  padding: 40px;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & var {
    font-style: normal;
    font-weight: 700;
    color: $accent;
  }

  &:hover {
    cursor: pointer;
  }

  &>h1 {
    margin: 10px;
    font-size: 2rem;
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: $accent;
    text-decoration-thickness: 4px;
  }

  &>p {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;
  }


  &>p,
  h1 {
    background-color: $tetiary;
    padding: 10px;
  }
}


@media (max-width: 640px) {
  .main {
    padding: 20px;
    &>h1 {
      font-size: 1.5rem;
    }

    &>p {
      font-size: 1rem;
    }
  }
}