@use "styles/vars" as *;

.main {
    width: 100%;

    transition: height 500ms;
    height: 60px;

    &[data-addplayer="true"] {
        height: 100px;
    }
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &>button {
        height: 60px;
        width: 60px;

        transform: scale(1);
        transition: transform 100ms ease-in-out;

        &:hover {
            color: $accent;
            cursor: pointer;
            transform: scale(1.3);
        }

        &:active {
            transform: scale(.8);
        }
    }
}

.addPlayer {
    width: 100%;
    max-width: 100%;

    opacity: 0;

    &[data-state="open"] {
        opacity: 1;
        transition: opacity 300ms 400ms ease-in-out;
    }

    &[data-state="closed"] {
        opacity: 0;
        transition: opacity 0s;
    }

    &>input {
        border: none;
        background-color: transparent;
        color: $text;
        font-size: 1.1rem;
        padding: 10px;
        margin: 0;
        width: 100%;
        height: 40px;
        text-align: center;

        border-bottom: $text 2px solid;

        &:focus {
            outline: none;
        }
    }
}


.listButton {
    display: none;
}

// Phone
@media (max-width: 640px) {

    // button visibility
    .listButton {
        display: block;
    }

    .shuffleButton {
        display: none;
    }

    .main[data-showplayers="true"]>.buttons {
        .resetButton {
            display: none;
        }

        .shuffleButton {
            display: block;
        }
    }
}