.main {
    display: grid;
    flex-direction: column;
    align-items: center;

    height: 100%;
    max-height: 100%;
    grid-template-rows: repeat(auto-fit, 80px);

    padding-bottom: 10px;
    overflow-y: scroll;
}

@media (max-width: 640px) {
    .main {
        display: none;
    }
}